shamefully-hoist=true
auto-install-peers=true
onlyBuiltDependencies[]=@nestjs/core
onlyBuiltDependencies[]=@prisma/client
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=bcrypt
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=prisma
only-built-dependencies=@nestjs/core,@prisma/client,@prisma/engines,bcrypt,esbuild,prisma
